html{
    min-height: 100%;
}
body{
    height: 100%;
    text-align: center;
    background-image: linear-gradient(red, rgb(207, 0, 0));
}
td, th{
    border: solid 1px;
    height: 2rem;
    width: 4rem;
}